<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/deepalikalagate/Desktop/BroadleafCommerce">
        <classes>
            <class name="com.broadleafcommerce.script.ClearancePageTest">
                <methods>
                    <include name="verifyClearancePageText"/>
                    <include name="testTitle"/>
                    <include name="verifyClearancePageTest"/>
                </methods>
            </class>
            <class name="com.broadleafcommerce.script.GiftCardTest">
                <methods>
                    <include name="verifyHotSaucePageLable"/>
                    <include name="selectHotSauceTest"/>
                </methods>
            </class>
            <class name="com.broadleafcommerce.script.HomePageTest">
                <methods>
                    <include name="verifyUserNameTest"/>
                    <include name="verifyHotSauceLinkTest"/>
                </methods>
            </class>
            <class name="com.broadleafcommerce.script.HotSauceTest">
                <methods>
                    <include name="verifyHotSaucePageLable"/>
                    <include name="selectHotSauceTest"/>
                    <include name="verifyHotSaucePageTitle"/>
                </methods>
            </class>
            <class name="com.broadleafcommerce.script.LoginTest">
                <methods>
                    <include name="broadleafLogoImageTest"/>
                    <include name="loginTest"/>
                </methods>
            </class>
            <class name="com.broadleafcommerce.script.MarchandisePageTest">
                <methods>
                    <include name="verifyMerchandisePageText"/>
                    <include name="testTitle"/>
                    <include name="verifyMerchandiseTest"/>
                </methods>
            </class>
            <class name="com.broadleafcommerce.script.MarchandiseRemoveFromCartPageTest">
                <methods>
                    <include name="verifyMerchandisePageText"/>
                    <include name="testTitle"/>
                    <include name="verifyMerchandiseTest"/>
                </methods>
            </class>
            <class name="com.broadleafcommerce.script.RegisterPageTest">
                <methods>
                    <include name="broadleafLogoImageTest"/>
                    <include name="loginTest"/>
                </methods>
            </class>
            <class name="com.broadleafcommerce.script.ShippingPageTest">
                <methods>
                    <include name="verifyShippingPageTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>