<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods">
    <test verbose="2" preserve-order="true" name="BroadleafCommerce">
        <classes>
            <class name="com.thoughtworks.script.RegisterPageTest">
                <methods>
                    <parameter name="browserName" value="chrome"></parameter>
                    <include name="validateRegisterIsSuccessful"/>
                </methods>
            </class>
            <class name="com.thoughtworks.script.LoginTest">
                <methods>
                    <parameter name="browserName" value="chrome"></parameter>
                    <include name="validateLoginIsSuccessful"/>
                </methods>
            </class>
            <class name="com.thoughtworks.script.LoginTest">
                <methods>
                    <parameter name="browserName" value="chrome"></parameter>
                    <include name="validateLoginFailed"/>
                </methods>
            </class>
            <class name="com.thoughtworks.script.HomePageTest">
                <methods>
                    <parameter name="browserName" value="firefox"></parameter>
                    <include name="verifyHotSauceLinkTest"/>
                </methods>
            </class>
            <class name="com.thoughtworks.script.MarchandisePageTest">
                <methods>
                    <parameter name="browserName" value="chrome"></parameter>
                    <include name="verifyMerchandiseTest"/>
                </methods>
            </class>
            <class name="com.thoughtworks.script.HotSauceTest">
                <methods>
                    <parameter name="browserName" value="chrome"></parameter>
                    <include name="hotSauceTest"/>
                </methods>
            </class>
            <class name="com.thoughtworks.script.ShippingPageTest">
                <methods>
                    <parameter name="browserName" value="chrome"></parameter>
                    <include name="verifyShippingPageTest"/>
                </methods>
            </class>
            <class name="com.thoughtworks.script.HotSaucePageTest">
                <methods>
                    <parameter name="browserName" value="chrome"></parameter>
                    <include name="selectHotSauceTest"/>
                </methods>
            </class>
            <class name="com.thoughtworks.script.ProductRemoveFromCartTest">
                <methods>
                    <parameter name="browserName" value="chrome"></parameter>
                    <include name="productRemoveFromCartTest"/>
                </methods>
            </class>
            <class name="com.thoughtworks.script.GiftCardTest">
                <methods>
                    <parameter name="browserName" value="firefox"></parameter>
                    <include name="selectGiftCardTest"/>
                </methods>
            </class>
            <class name="com.thoughtworks.script.ClearancePageTest">
                <methods>
                    <parameter name="browserName" value="chrome"></parameter>
                    <include name="verifyClearancePageTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>